<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    rel="stylesheet" />
    <link rel="stylesheet" href="/css/styleRegister.css">
    <title>Registro de Usuario</title>
</head>
<body>
    <header>
        <div class="main-header-top-bar">
                <img class="logo" src="/images/logo-mercado-liebre.svg" class="logo">
                <div class="barra-busqueda">
                    <input type="text" placeholder="Buscá tu producto">
                    <button class="search"><i id="itemsearch" class="fas fa-search"></i></button>
                </div>
                <h2 class="copy-header">
                    <i class="fa-solid fa-hand-holding-dollar"></i>
                    Comprá en cuotas y sin tarjeta de crédito
                </h2>
        </div>
            <a href="#" class="burger-menu"> <i class="fas fa-bars"></i> </a>
        <nav class="main-navbar">
                <ul class="list-navbar">
                    <li> <a href="#">Ofertas</a> </li>
                    <li> <a href="#">Tiendas Oficiales</a> </li>
                    <li> <a href="#">Vender</a> </li>
                    <li> <a href="#">Ayuda</a> </li>
                </ul> 

                <ul class="list-navbar">
                        <li> <a href="/register">Creá tu cuenta  <i class="fa-regular fa-id-card"></i></a> 
                        <li> <a href="/login">Ingresá  <i class="fa-solid fa-right-to-bracket"></i></a> 
                        <li> <a href="">Mis compras <i class="fa-solid fa-basket-shopping"></i></a> 
                </ul>                                
            </nav>
    </header>

    <main>

        <form action="/">
            <div class="nombre">
                <input type="text" placeholder="Nombre y apellido" name="nombre" id="nombre" required>
        </div>
        <div class="usuario">
            <input type="text" placeholder="Nombre de usuario" name="usuario" id="usuario" required>
        </div>
        <div class="email">
            <input type="email" placeholder="E-mail" name="email" id="email" required>
        </div>
        <div class="fecha">
            <h4>Fecha de nacimiento</h4>
            <label for="nacimiento">
                <input type="date" name="fecha-de-nacimiento" id="nacimiento" required>
            </label>
        </div>
        <div class="domicilio">
            <input type="text" placeholder="domicilio" name="domicilio" id="domicilio" required>
        </div>
        <div class="perfil">
            <h4>Perfil de usuario</h4>
            <label for="perfil">
                <input type="radio" name="perfil-usuario" id="perfil">Comprador
            </label>
            <label for="perfil">
                    <input type="radio" name="perfil-usuario" id="perfil">Vendedor
                </label>
        </div>
            <div class="intereses">
                <h4>Intereses</h4>
                <label for="interes">
                    <input type="checkbox" name="interes" id="interes">Electro
                </label>
                <label for="interes">
                    <input type="checkbox" name="interes" id="interes">Moda
                </label>
                <label for="interes">
                    <input type="checkbox" name="interes" id="interes">Hogar
                </label>
                <label for="interes">
                    <input type="checkbox" name="interes" id="interes">Jugueteria
                </label>
                <label for="interes">
                    <input type="checkbox" name="interes" id="interes">Vida sana
                </label>
            </div>
        
            <div class="foto">
                <h4>Foto de perfil</h4>
            <input type="file" name="foto-perfil" id="foto" accept=".jpg">
        </div>
        <div class="contraseña">
            <h4>Contraseña</h4>
            <input type="password" name="contraseña" id="contraseña" required>
            <br>
            <div class="confirmar">
                <h4>Confirmar contraseña</h4>   
                <input type="password" name="contraseña" id="contraseña" required>
            </div>
        </div>
        <div class="enviar">
                <input type="submit" name="enviar" value="Enviar" id="enviar">
            </div>
            <div class="borrar">
                <input type="reset" name="borrar" value="Borrar" id="borrar">
            </div>
        </form>
    </main>
    <footer>
        <section class="main-footer">
            <div>
                 <div class="icon-footer">
                     <i class="fa-solid fa-credit-card"></i>
                </div>
                    <h3>Pagá con tarjeta o en efectivo</h3>
                    <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                        puntos de pago. ¡Y siempre es seguro!</p>
            </div>
            <div>
                <div class="icon-footer">
                    <i class="fa-solid fa-gift"></i>
                </div>
                    <h3>Envío gratis desde $ 2.500</h3>
                    <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                        productos. Es un beneficio de Mercado Puntos.</p>
            </div>
            <div>
                 <div class="icon-footer">
                     <i class="fa-solid fa-user-shield"></i>
                 </div>
                    <h3>Seguridad, de principio a fin</h3>
                    <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                    porque estás siempre protegid@.</p>
            </div>
        </section>
            <div>
                <p class="copy">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
            </div>
    </footer> 
    </body>
    </html>
