*{
    box-sizing: border-box;
}

body{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #ebebeb;
}

header{
    background-color: #EAC926;
}

.main-header-top-bar{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    padding-top: 5px;
}

.logo{
    width:50%;
    max-width: 200px;
    padding-left: 20px;
}

.barra-busqueda{
    display: flex;
    width: 50%;
    text-align: center;
    justify-content: space-around;
    border:1px solid black;
    height: fit-content;
    background-color: white;
}

.barra-busqueda input{
    width: 85%;
    display: inline-block;
    border: none;
}
.barra-busqueda button{
    border: none;
    background-color: #FFF;
}

.copy-header{
    font-size: 15px;
    text-align: center;
}

.burger-menu{
    background-color: #1259c3;
    color: white;
    display: block;
    max-width: 50px;
    padding: 15px 0;
    border-radius: 8px;
    text-align: center;
    font-size: 17px;
    margin: auto;
}

.main-navbar{
    display: none;
}

.main-navbar ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.list-navbar{
    display: flex;
    flex-wrap: wrap;
    width: 45%;
    justify-content: space-around;
}

.list-navbar li a{
    font-size: 8px;
}

.main-navbar a{
    text-decoration: none;
    color: #222222;
    display: inline-block;
    padding: 5px 0;
    font-size: 17px;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
}

form .nombre{
    position: relative;
    margin: 15px;
    padding-bottom: 5px;
}
.nombre input[type="text"]{
    border: none;
    border-radius: 5px;
    height: 35px;
    width: 50vw;
    padding-left: 10px;
}

form .usuario{
    position: relative;
    margin: 15px;
    padding-bottom: 5px;
}
.usuario input[type="text"]{
    border: none;
    border-radius: 5px;
    height: 35px;
    width: 50vw;
    padding-left: 10px;
}

form .email{
    position: relative;
    margin: 10px;
    padding-bottom: 5px;
}
.email input[type="email"]{
    border: none;
    border-radius: 5px;
    height: 35px;
    width: 50vw;
    padding-left: 10px;
}

/*.fecha h4{
    margin: 0;
    margin-bottom: 5px;
    font-size: 13px;
    margin-left: 5px;
}*/
form .fecha{
    position: relative;
    margin: 15px;
    padding-bottom: 5px;
}
.fecha input[type="date"]{
    border: none;
    border-radius: 5px;
    height: 35px;
    width: 50vw;
    padding-left: 10px;
}

form .domicilio{
    position: relative;
    margin: 15px;
    padding-bottom: 5px;
}
.domicilio input[type="text"]{
    border: none;
    border-radius: 5px;
    height: 35px;
    width: 50vw;
    padding-left: 10px;
}


form .perfil label{
    margin: 10px;
}
.perfil{
    margin-left: 0;
    width: 50vw;
}
.perfil input[type="radio"]{
    margin-right: 30px;
}

.intereses{
    display: flex;
    flex-direction: column;
    width: 50vw;
    margin-left: 0;
    padding-bottom: 10px;
}
.intereses input[type="checkbox"]{
    margin-left: 30px;
}

.foto{
    position: relative;
    margin: 10px;
    width: 50vw;
}

form .contraseña{
    position: relative;
    margin: 10px;
    padding-bottom: 10px;
}
.contraseña input[type="password"]{
    border: none;
    border-radius: 5px;
    height: 35px;
    width: 50vw;
    padding-left: 10px;
}

form .enviar{
    position: relative;
    margin: 10px;
    padding-bottom: 10px;
}
.enviar input[type="submit"]{
    border: none;
    border-radius: 5px;
    background-color: #ffffff;
}

form .borrar{
    position: relative;
    margin: 10px;
    padding-bottom: 10px;
}
.borrar input[type="reset"]{
    border: none;
    border-radius: 5px;
    background-color: #ffffff;
}

footer{
    padding: 30px;
    text-align: center;
    margin-top: 60px;
    background-color: white;
}

footer h3{
    color:#000000;
    margin: 10px 0 0 0;
    text-align: center;
}

footer p{
    color: #666;
    font-size: 12px;
    line-height: normal;
    margin: 0;
}

.icon-footer{
    font-size: 2em;
    color: #1259c3;
    margin-top: 20px;
    margin: auto;
}

.main-footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
}

@media (min-width: 361px){
    .main-navbar{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;    
    }
    .copy-header{
        font-size: 8px;
    }
    .logo{
        width:30%;
    }
    .barra-busqueda{
        width: 30%;
    }
    .copy-header{
        width: 30%;
    }
    .burger-menu{
        display: none;
    }
}

@media (min-width: 769px){
    .copy-header{
        font-size: 12px;
    }
    .list-navbar li a{
        font-size: 12px;
    }  
    .main-footer div{
        width: 30%;
    }
    .copy{
        text-align: start;
    }
}